<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{#draggable-wrapper items=model as |register|}}
    {{droppable-bucket items=model value="1" registerContainer=register}}
    {{droppable-bucket items=model value="2" registerContainer=register}}
{{/draggable-wrapper}}
