<h3>Bucket {{value}}</h3>
<ul>
    {{#each filteredItems as |item|}}
        {{#simple-item item=item registerItem=registerItem}}
            {{item.title}}
        {{/simple-item}}
    {{/each}}
</ul>
