<h2 id="title">Welcome to Ember</h2>

{{outlet}}

{{#draggable-wrapper}}
    <h3>First List</h3>
    <ul>
        <li>First Foo</li>
        <li>First Bar</li>
        <li>First Baz</li>
        <li>First Quxx</li>
    </ul>

    <h3>Second List</h3>
    <ul>
        <li>Second Foo</li>
        <li>Second Bar</li>
        <li>Second Baz</li>
        <li>Second Quxx</li>
    </ul>
{{/draggable-wrapper}}
